<ion-header>
  <ion-toolbar>
    <ion-title>register form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="registerForm">
    <ion-card-header>
      <ion-row class="ion-justify-content-center ion-padding-top">
        <img src="assets/icon/register_ico.png" alt="register" class="register_img">
      </ion-row>
    </ion-card-header>
    <form [formGroup]="RegisterForm">
      <ion-item lines="none">
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" name="name" formControlName="name" required></ion-input>
      </ion-item>   
      <div *ngFor=" let error of errorMessages.name ">
        <ng-container *ngIf=" name.hasError(error.type) && (name.dirty || name.touched) ">
          <small class="error-message">{{error.message}}</small>
        </ng-container>  
      </div>

      <ion-item lines="none">
        <ion-label position="stacked">Email</ion-label>
        <ion-input inputmode="email" formControlName="email" name="email" required></ion-input>
      </ion-item>
      <div *ngFor=" let error of errorMessages.email ">
        <ng-container *ngIf=" email.hasError(error.type) && (email.dirty || email.touched) ">
          <small class="error-message">{{error.message}}</small>
        </ng-container>  
      </div>
  
      <ion-item lines="none">
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" formControlName="password" name="password" required></ion-input>
      </ion-item>
      <div *ngFor=" let error of errorMessages.password ">
        <ng-container *ngIf=" password.hasError(error.type) && (password.dirty || password.touched) ">
          <small class="error-message">{{error.message}}</small>
        </ng-container>  
      </div>

      <ion-item lines="none">
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword" name="confirmPassword" required></ion-input>
      </ion-item>
      <div *ngFor=" let error of errorMessages.confirmPassword ">
        <ng-container *ngIf=" confirmPassword.hasError(error.type) && (confirmPassword.dirty || confirmPassword.touched) ">
          <small class="error-message">{{error.message}}</small>
        </ng-container>  
      </div>

      <ion-item lines="none">
        <ion-label position="stacked">Phone</ion-label>
        <ion-input inputmode="tel" name="phone" formControlName="phone" required></ion-input>
      </ion-item>
      <div *ngFor=" let error of errorMessages.phone ">
        <ng-container *ngIf=" phone.hasError(error.type) && (phone.dirty || phone.touched) ">
          <small class="error-message">{{error.message}}</small>
        </ng-container>  
      </div>

      <ion-radio-group formControlName="gender">
        <ion-item lines="none">
          <ion-radio value="male"></ion-radio>
          <ion-label class="ion-radio-label">Male</ion-label>
          <ion-radio value="female"></ion-radio>
          <ion-label class="ion-radio-label">Female</ion-label>  
        </ion-item>
      </ion-radio-group>
      <div *ngFor=" let error of errorMessages.gender ">
        <ng-container *ngIf=" gender.hasError(error.type) && (gender.dirty || gender.touched) ">
          <small class="error-message">{{error.message}}</small>
        </ng-container>  
      </div>

      <ion-item lines="none">
        <ion-label position="stacked">Address</ion-label>
        <ion-textarea name="address" formControlName="address" required></ion-textarea>
      </ion-item>
      <div *ngFor=" let error of errorMessages.address ">
        <ng-container *ngIf=" address.hasError(error.type) && (address.dirty || address.touched) ">
          <small class="error-message">{{error.message}}</small>
        </ng-container>  
      </div>

      <ion-row class="ion-justify-content-center ion-padding-top">
        <ion-button type="button" color="secondary" class="ion-text-capitalize" (click)="onSubmit()" [disabled]="!RegisterForm.valid">SIGN UP</ion-button>
      </ion-row>
    </form>
  </ion-card>
</ion-content>
