<ion-header>
  <ion-toolbar color="success">
    <ion-title>register form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="registerForm">
    <ion-card-header>
      <ion-row class="ion-justify-content-center ion-padding-top">
        <img src="assets/icon/register_ico.png" alt="register" class="register_img">
      </ion-row>
    </ion-card-header>
    <form #f="ngForm" novalidate (ngSubmit)="onSubmit(f)">
      <ion-item>
        <ion-label position="floating" >Full Name</ion-label>
        <ion-input type="text" name="name" required [(ngModel)]="data.name"></ion-input>
      </ion-item>
    
      <ion-item [hidden]="f.controls.name && (f.controls.name.valid || (f.controls.name.pristine && !isSubmitted))" lines="none">
        <ion-text color="danger">Name is required!</ion-text>
        <ion-icon name="information-circle-outline" color="danger" slot="start" class="ion-no-margin"></ion-icon>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email" required [(ngModel)]="data.email" email></ion-input>
      </ion-item>
      <ion-item [hidden]="f.controls.email && (!f.controls.email.pristine || !isSubmitted)" lines="none">
        <ion-text color="danger">Email is required!</ion-text>
        <ion-icon name="information-circle-outline" color="danger" slot="start" class="ion-no-margin"></ion-icon>
      </ion-item>
  
      <ion-item [hidden]="f.controls.email && (f.controls.email.valid || !isSubmitted)" lines="none">
        <ion-text color="danger">Email is invalid!</ion-text>
        <ion-icon name="information-circle-outline" color="danger" slot="start" class="ion-no-margin"></ion-icon>
      </ion-item>
  
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select placeholder="Choose Gender">
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="male">Male</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" minlength="6" name="password" required [(ngModel)]="data.password"></ion-input>
      </ion-item>
  
      <ion-item [hidden]="f.controls.password && (!f.controls.password.errors || !isSubmitted)" lines="none">
        <ion-text color="danger">Password is invalid!</ion-text>
        <ion-icon name="information-circle-outline" color="danger" slot="start" class="ion-no-margin"></ion-icon>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" minlength="6" name="confirmPassword" required [(ngModel)]="data.confirmPassword"></ion-input>
      </ion-item>
  
      <ion-item [hidden]="f.controls.confirmPassword && (!f.controls.confirmPassword.pristine || !isSubmitted)" lines="none">
        <ion-text color="danger">Password confirmation is required!</ion-text>
        <ion-icon name="information-circle-outline" color="danger" slot="start" class="ion-no-margin"></ion-icon>
      </ion-item>
  
      <ion-item [hidden]="data.password == data.confirmPassword" lines="none">
        <ion-text color="danger">Passwords are not matched!</ion-text>
        <ion-icon name="information-circle-outline" color="danger" slot="start" class="ion-no-margin"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone</ion-label>
        <ion-input type="number" name="phone" required [(ngModel)]="data.phone" required></ion-input>
      </ion-item>
      <ion-item [hidden]="f.controls.phone && (!f.controls.phone.pristine || !isSubmitted)" lines="none">
        <ion-icon name="information-circle-outline" slot="start" class="ion-no-margin" color="danger"></ion-icon>
        <ion-text color="danger">Phone number is required</ion-text>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-textarea name="address" required [(ngModel)]="data.address"></ion-textarea>
      </ion-item>
  
      <ion-item [hidden]="f.controls.address && (!f.controls.address.pristine || !isSubmitted)" lines="none">
        <ion-text color="danger">Address is required!</ion-text>
        <ion-icon name="information-circle-outline" color="danger" slot="start" class="ion-no-margin"></ion-icon>
      </ion-item>
  
      <ion-row class="ion-justify-content-center ion-padding-top">
        <ion-button type="submit" shape="round" class="ion-text-capitalize">Submit</ion-button>
      </ion-row>
    </form>
  </ion-card>

</ion-content>
