<ion-header [translucent]="true">
  <ion-toolbar class="home-header">
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-router-outlet id="main"></ion-router-outlet>
<ion-menu menuId="main-menu" content-id="main">
  <ion-header>
    <ion-toolbar class="menu-header">
      <img src="assets/icon/scm_logo.png" alt="logo" width="50" height="50">
      <ion-title color="white">SCM POS System</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="menubar">
      <ion-item >
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label [routerLink]="['/home']">Home</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="megaphone-outline" slot="start"></ion-icon>
        <ion-label>All item lists</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="megaphone-outline" slot="start"></ion-icon>
        <ion-label>Recent</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        <ion-label>About</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>Spam</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name='add-circle-outline' slot="start"></ion-icon>
        <ion-label [routerLink]="['/register']">Register</ion-label>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text color="success">Welcome</ion-text>
  </div>
</ion-content>
